.text-error {
  color: #ff0000;
  margin-top: -8px;
  margin-bottom: 10px;
}
.text-success {
  color: green;
}
.search__input::placeholder {
  font-family: 'Roboto', sans-serif;

  color: #8e8e8e;
}
.search__input {
  font-family: 'Roboto', sans-serif;
}
.nav__admin {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #ff0d0d;
  margin-top: 30px;
  margin-left: 10px;
}
.nav__admin img {
  margin-right: 8px;
}
.search__title {
  margin-left: 20px;
}
.not-found {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 16px;
}
.content-admin {
  margin-right: 40px;
}
@media (max-width: 900px) {
  .content-admin {
    padding: 0 20px;
    /* margin-left: 20px;
    margin-right: 40px; */
  }
}
.section,
.container,
.conent__inner,
.page {
  height: 100%;
}

.overlay--active {
  width: 100%;
}
.news__item {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: stretch;
}
.news__footer {
  margin-top: auto;
}
