.table {
  display: grid;
  overflow: scroll;
}
.table::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.table__wrap {
  margin-top: 20px;
  position: relative;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 40px;
}
.table__btn {
  padding: 15px 20px;
  background-color: #fdec31;
  /* margin: 10px; */
}

.table__more {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}
.table__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}
.table__icon img {
  width: 12px;
  height: 12px;
}
.table__icon {
  display: flex;
  justify-content: center;
}
.table__head {
  padding: 15px;
  background-color: #fdec31;
}
.table__col {
  padding: 15px;
  background-color: #fff;
}
.table__col--even {
  background-color: #fbf8f8 !important;
}
